@model Hager_Ind_CRM.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPositionID" class="control-label"></label>
                <select asp-for="JobPositionID" class ="form-control" asp-items="ViewBag.JobPositionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentTypeID" class="control-label"></label>
                <select asp-for="EmploymentTypeID" class ="form-control" asp-items="ViewBag.EmploymentTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingProvinceID" class="control-label"></label>
                <input asp-for="BillingProvinceID" class="form-control" />
                <span asp-validation-for="BillingProvinceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingPostal" class="control-label"></label>
                <input asp-for="BillingPostal" class="form-control" />
                <span asp-validation-for="BillingPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCountryID" class="control-label"></label>
                <input asp-for="BillingCountryID" class="form-control" />
                <span asp-validation-for="BillingCountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" class="form-control" />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense" class="control-label"></label>
                <input asp-for="Expense" class="form-control" />
                <span asp-validation-for="Expense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateJoined" class="control-label"></label>
                <input asp-for="DateJoined" class="form-control" />
                <span asp-validation-for="DateJoined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyFobNumber" class="control-label"></label>
                <input asp-for="KeyFobNumber" class="form-control" />
                <span asp-validation-for="KeyFobNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUser" /> @Html.DisplayNameFor(model => model.IsUser)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PermissionLevel" class="control-label"></label>
                <input asp-for="PermissionLevel" class="form-control" />
                <span asp-validation-for="PermissionLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhone" class="control-label"></label>
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

