<h1 class="mt-4">Management</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-area="" asp-controller="Home" asp-action="Management">Configuration</a></li>
    <li class="breadcrumb-item active">Editable lists</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-4">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Billing Terms</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="BillingTerms" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-4">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Contact Categories</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="ContactCategories" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-4">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Job Positions</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="JobPositions" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>



    <div class="col-xl-3 col-md-4">
        <div class="card bg-info text-white mb-4">
            <div class="card-body">Company Types</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Types" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-4">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Company Sub Types</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="SubTypes" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-4">
        <div class="card bg-info text-white mb-4">
            <div class="card-body">Employment Types</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="EmploymentTypes" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>



    <div class="col-xl-3 col-md-4">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Countries</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Countries" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-4">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Currencies</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Currencies" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-4">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Provinces</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-area="" asp-controller="Provinces" asp-action="Index">Edit</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>